snippet ar "arguments" w
arguments
endsnippet

snippet arguments "arguments.length" w
arguments.length
endsnippet

snippet g "global iife" "len(buffer) == 1" e
(function(global) {
	"use strict";

	$1;
})(this);
endsnippet

snippet js "javascript:" w
javascript:
endsnippet
