snippet /^js/ "javascript:" Ar
javascript:
endsnippet

snippet .. "..." Ai
...$0
endsnippet

snippet == "===" Ai
 === $0
endsnippet

snippet != "!==" Ai
 !== $0
endsnippet

snippet ` "``" Ai
`!p snip.rv = "\`"`$1`!p snip.rv = "\`"`
endsnippet

snippet $ "${var}" i
${$1}
endsnippet
