snippet /^js/ "javascript:" Ar
javascript:
endsnippet

snippet .. "..." Ai
...$0
endsnippet

snippet == "===" Ai
 === $0
endsnippet

snippet != "!==" Ai
 !== $0
endsnippet

snippet $ "${var}" i
${$1}
endsnippet

snippet f "false" w
false
endsnippet

snippet n "null" w
null
endsnippet

snippet t "true" w
true
endsnippet

snippet u "undefined" w
undefined
endsnippet
