snippet /* "doc block" b
/**
 * $1
 */
endsnippet

snippet pec "php echo" b
<?php echo ${1:false} ?>
endsnippet

snippet ph "<?php" b
<?php

endsnippet

snippet php "<?php?>" b
<?php $1 ?>
endsnippet

snippet hp "?>" b
?>
endsnippet
