snippet ?? "null coalesce operator" w
isset($1) ? ${1:false} : ${2:false}
endsnippet

snippet pec "php echo" b
<?php echo ${1:false} ?>
endsnippet

snippet ph "<?php" b
<?php

endsnippet

snippet php "<?php?>" b
<?php $1 ?>
endsnippet

snippet hp "?>" b
?>
endsnippet
