snippet cm "Class::$property" w
${1:stdClass}::${2}(${3})$0
endsnippet

snippet om "$object->property" w
$${1:object}->${2}(${3})$0
endsnippet

snippet pm "parent::$property" w
parent::${1}(${2})$0
endsnippet

snippet sm "self::$property" w
self::${1}(${2})$0
endsnippet

snippet stm "static::$property" w
static::${1}(${2})$0
endsnippet

snippet tm "$this->property" w
$this->${1}(${2})$0
endsnippet
