snippet cl "class" w
class $1 {
}
endsnippet

snippet ex "extends" i
extends $2
endsnippet

snippet im "instance method" w
$1($2) {
}
endsnippet

snippet sm "static method" w
static $1($2) {
}
endsnippet
