snippet > "=>" i
($1) => $2
endsnippet

snippet /(?<=\=> )}/ "=>" Ar
{
	$1
}
endsnippet

snippet a> "=>" Aw
async ($1) => $2
endsnippet

snippet f* "function* () {}" Aw
function* $1($2) {
}
endsnippet
