snippet fap "function.apply" w
${1:func}.apply($2)
endsnippet

snippet fbi "function.bind" w
${1:func}.bind($2)
endsnippet

snippet fca "function.call" w
${1:func}.call($2)
endsnippet

snippet fu "anonymous function" w
function($1) {
	${2:throw new Error('TODO');}
}
endsnippet

snippet fun "function" b
function ${1:func}($2)
{
	${3:throw new Error('TODO');}
}
endsnippet
