snippet </ "<tag>" Aw
<$1 />
endsnippet

snippet <> "<tag>" Aw
<${1}>$2</$1>
endsnippet

snippet /> "<tag>" Aw
</$1>
endsnippet

snippet /(?<=export default )f/ "function" Ar
function $1($2) {
}
endsnippet
