snippet < "<tag>" i
<${1}>$2</$1>
endsnippet

snippet <> "<tag>" Ai
<${1}>
	${VISUAL}$2
</$1>
endsnippet

snippet </ "<tag>" i
<${1} />
endsnippet

snippet /(?<=export default )f/ "function" Ar
function ${1}({
	${2}
}) {
}
$1.propTypes = {
	${2/.*?(?=,\n)/$0: PropTypes.any.isRequired/g}
};
endsnippet

snippet ren "render" w
render() {$1
}
endsnippet
