global !p
import re
def singular(word):
	return re.sub(r'(s|es)$', '', word)
endglobal

snippet for "for" b
for (`!p snip.rv = singular(t[1])`Idx; $1.length; `!p snip.rv = singular(t[1])`Idx++) {
	`!p snip.rv = singular(t[1])` = ${1:items}[`!p snip.rv = singular(t[1])`Idx];
	$2;
}
endsnippet

snippet wh "while" b
while (${1:false}) {
}
endsnippet
