snippet mra "Math.random" Aw
(${1:upper} - ${2:lower}) * Math.random() + $2;
endsnippet

snippet mri "Math.random integer" Aw
Math.floor((${1:upper} - ${2:lower} + 1) * Math.random() + $2);
endsnippet
