snippet /^e/ "export" r
export $0
endsnippet

snippet /(?<=export )d/ "default" r
default $0
endsnippet

snippet /(?<=export default )>/ "=>" r
($1) => $2;
endsnippet

snippet /(?<=export default )c/ "class" r
class $1 {
}
endsnippet

snippet /^i/ "import" r
import $1 from '$2';
endsnippet
