snippet ocr "Object.create" w
Object.create(${1:object})
endsnippet

snippet oho "object.hasOwnProperty" w
${1:object}.hasOwnProperty(${2:v})
endsnippet

snippet oke "Object.keys" w
$1Keys = Object.keys(${1:object});
endsnippet
