snippet sre "string.repeat" w
${1:string}.match(/${2:searchValue}/, ${3:replaceValue})
endsnippet

snippet srp "string.repeat" w
Array(1 + ${1:count}).join("${2:str}")
endsnippet

snippet sma "string.match" w
${1:string}.match(/${2:regexp}/g)
endsnippet
