snippet c "catch" "snip.buffer[snip.line-1][snip.column:snip.column+1] == '}'" be
} catch (e) {
	${1:throw e;}

endsnippet

snippet f "finally" "snip.buffer[snip.line-1][snip.column:snip.column+1] == '}'" be
} finally {
	$1

endsnippet

snippet tnc "throw new class" w
throw new $1($2);
endsnippet

snippet tne "throw new Error" w
throw new Error($1);
endsnippet

snippet try "try" w
try {
	${VISUAL}$1
}
endsnippet
