snippet tb "to bool" w
Boolean(${VISUAL}$1)
endsnippet

snippet tn "to number" w
Number(${VISUAL}$1)
endsnippet

snippet to "to object" w
Object(${VISUAL}$1)
endsnippet

snippet ts "to string" w
String(${VISUAL}$1)
endsnippet
