snippet ib "is boolean" Aw
typeof ${1:false} === "boolean"
endsnippet

snippet ifu "is function" Aw
typeof ${1:function()\{\}} === "function"
endsnippet

snippet in "is number" Aw
typeof ${1:0} === "number"
endsnippet

snippet io "is object" Aw
typeof ${1:null} === "object"
endsnippet

snippet is "is string" Aw
typeof ${1:""} === "string"
endsnippet

snippet iu "is undefined" Aw
typeof ${1:undefined} === "undefined"
endsnippet
