snippet ib "is boolean" w
typeof ${1:false} === "boolean"
endsnippet

snippet ifu "is function" w
typeof ${1:function()\{\}} === "function"
endsnippet

snippet in "is number" w
typeof ${1:0} === "number"
endsnippet

snippet io "is object" w
typeof ${1:null} === "object"
endsnippet

snippet is "is string" w
typeof ${1:""} === "string"
endsnippet

snippet iu "is undefined" w
typeof ${1:undefined} === "undefined"
endsnippet
