snippet ta "to array" w
[].slice.call($1)
endsnippet

snippet tb "to bool" w
Boolean($1)
endsnippet

snippet tn "to number" w
Number($1)
endsnippet

snippet to "to object" w
Object($1)
endsnippet

snippet ts "to string" w
String($1)
endsnippet

snippet tu "to undefined" w
void $1
endsnippet
